<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%result.forEach(element =>{%>
        <h3> type: <%= element.type%></h3>
        <p> text: <%= element.text%> </p>
        <a href="/Fav/ <%= element.id%>"> details</a>
        <%})%>
</body>
</html>